h2{
    color: red;
}

p{
    font-family: 'Courier New', Courier, monospace;
}

h5{
    background-color: lightblue;
    line-height: 25px;
}

div{
    background-color: blanchedalmond;
}

td{
    font-weight: 600;
}